h1, p {
  font-family: Lato;
}

*{
  margin:0px;
  padding:0px;
}

h1{
  color:aliceblue;
  text-shadow:
       3px 3px 0 #aaa,
     -1px -1px 0 #aaa,  
      1px -1px 0 #aaa,
      -1px 1px 0 #aaa,
       1px 1px 0 #aaa;
}

#container{
  padding:10px;
 display: flex;
 flex-direction: column;
 align-items: center;
  background:  linear-gradient(30deg,#8ec5fc,#e0c3fc);
  height:100vh;

}

/* blue , #ff0088 */